body{
    font-family: roboto;
    margin: 0;
}

header {
    width: 100vw;

    display: flex;

    background: red;

    align-items: center;
    justify-content: center;
}

header ul {
    width: 80%;
    
    display: flex;
    padding-left: 0;
    list-style-type: none;
    background: green;
}

header ul a {
    flex: 1;
    text-align: center;

    padding: 10px;
    margin: 5px;

    background: purple;
}

header ul a:first-of-type {
    border-radius: 15px 0 0 15px;
}

header ul a:last-of-type {
    border-radius: 0 15px 15px 0;
}

#shop{
    display: flex;
    width: 70%;
    background-color: rgb(125, 194, 35);
    padding: 6px;
    flex-wrap: wrap;
    justify-content: center;
}

#shop .item{
    width: 300px;
    background-color: aqua;
    margin: 6px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

#shop .item .description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#shop .item .description p{
    flex: 1;
}

#shop .item .description button{
    flex: 1;
    width: 40%;
    align-items: center;
}

#shop .item img{
    width: 100%;
}

#shop .item p{
    text-align: center;
    margin: 3px;
}

#shop .item .photo{
    padding: 10px;
    background-color: firebrick;
}

main {
    display: flex;
    width: 100vw;
    background-color: cornflowerblue;
    justify-content: center;
}