body{
    font-family: roboto;
}

header ul{
    display: flex;
    background-color: red;
    width: 75%;
}

header ul li{
    flex:1;
}

header{
    display: flex;
    justify-content: center;
    width: 100vw;
}